.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 70px;
  background: linear-gradient(135deg, #0a1f44, #102a5c);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  font-size: large;
}
.company-name {
  font-size: 18px;
  font-weight: 600;
  color: #4cc9f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: linear-gradient(135deg, #0a1f44, #102a5c);
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo img {
  height: 40px;   /* adjust size here */
  width: auto;
   object-fit: cover;
}

.logo span {
  font-size: 22px;
  font-weight: 600;
  color: #4cc9f0;
}

/* Navigation */
.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links a:hover {
  color: #4cc9f0;
}


.logo {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #00b4ff;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 35px;
  align-items: center;
}

.navbar a {
  position: relative;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;

}

/* Hover effect */
.navbar a:hover {
  color: #ffd700;
}

/* Animated underline */
.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #ffd700;
  transition: 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
}

/* Active link */
.active {
  color: #ffd700 !important;
}

/* Badges */
.badge {
  font-size: 10px;
  padding: 3px 8px;
  border-radius: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

/* Badge colors */
.home-badge {
  background: #22c55e;
  color: white;
}

.service-badge {
  background: #f59e0b;
  color: white;
}

.contact-badge {
  background: #ef4444;
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    padding: 15px 20px;
    flex-direction: column;
    gap: 15px;
  }

  .navbar ul {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.h2.p {
  border: #00b4ff;
}