.category-page {
  padding: 60px 20px;
  text-align: center;
}

.category-title {
  margin-bottom: 40px;
  font-size: 30px;
  color: #4cc9f0;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.product-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
    border: 2px solid #4cc9f0;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;   /* VERY IMPORTANT */
  border-radius: 8px;
  margin-bottom: 10px;
  background: #f8f9fa;
}



.product-card h4 {
  margin-top: 10px;
}
.category-title {
  animation: fadeInDown 1s ease;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
